/* Center the content on the page */
/* .vh-100 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* .vw-200 {
    width: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;

   
  } */
  
 
  /* .form-control {
    width: 100%;
    max-width: 1500px; 
  }
   */

  /* .otp-container {
    display: flex;
    justify-content: space-between;
    width: 320px; 
    margin-bottom: 10px;
  } */
  
/*  .otp-box {
    width: 40px; 
    height: 50px; 
    font-size: 1.8rem; 
    text-align: center;
  }
  */